*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Oswald', sans-serif;
}
html,body{
    width: 100%;
}
.clear{
    clear: both;
}
.center{
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}
/* ----------------------------------LOGO-----------------------------------------*/
header .logo{
    padding: 20px 2% 35px 2%;
}
header img{
    float: left;
}
header ul{
    margin-top: 30px;
    float: right;
}
header ul li{
    list-style: none;
    display: inline-block;
    font-size: 23px;
	padding:0 20px;
    font-style: italic;
}
/* ----------------------------------LOGO-----------------------------------------*/

/* ----------------------------------BACKGROUND-----------------------------------------*/
.bg{
    position: relative;
}
.bg .car{
    position: absolute;
    float: right;
    width: 100%;
    background-image: url(../images/bg.jpg);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    /*
    padding-top: 41%;*/
}
.bg .black{
    position: relative;
    width: 100%;
    background-color: black;
    height: 55vh;
}
/* ----------------------------------BACKGROUND-----------------------------------------*/